<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="SourceConnectionString"
             connectionString="Data Source=BIBHAV--LAMICHH\SQLEXPRESS;Initial Catalog=SourceDb;Integrated Security=True;TrustServerCertificate=True"/>
        <add name="DestinationConnectionString"
             connectionString="Data Source=C:\Users\Spiralogics\Desktop\DatabaseSyncApp\DatabaseSyncApp\target.db"/>
    </connectionStrings>
</configuration>
